
label {
    display: block;
    margin-top: 10px;
    font-size: 12px;
}

select {
    display: block;
    margin-top: 5px;
    width: calc(100% - 5px);
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

input {
    display: block;
    margin-top: 5px;
    width: calc(100% - 30px);
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    width: calc(100% - 5px);
    margin-top: 20px;
    padding: 10px;
    background-color: #2ecc71;
    color: white;
    border: none;
    border-radius: 5px;
}

#error {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 20px;
}

#href {
    float: left;
    width: calc(100% - 50px);
    margin-right: 10px;
}

#linkIdentifier {
    margin-top: 10px;
    font-size: 17px;
    float: left;
    font-family: Courier, 'Courier New'
}

#copy {
    margin-left: 10px;
    padding-top: 5px
}

#copy img {
    margin-left: 10px;
    margin-top: 8px;
    width: 15px;
}

#headline {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

#headline img {
    width: 20px;
    margin-right: 10px;
}

#intro {
    line-height: 20px;
    color: #7f8c8d;
    margin-bottom: 20px;
    width: calc(100% - 20px);
}

#auto img {
    width: 15px;
    margin-top: 15px
}

.asterisk {
    color: #e74c3c
}